sromc-api-main/obj/Debug/netcoreapp3.1/SROMCapi.sourcelink.json
sromc-api-main/obj/Debug/netcoreapp3.1/SROMCapi.RazorTargetAssemblyInfo.cache
sromc-api-main/obj/Debug/netcoreapp3.1/SROMCapi.pdb
sromc-api-main/obj/Debug/netcoreapp3.1/SROMCapi.dll
sromc-api-main/obj/Debug/netcoreapp3.1/SROMCapi.AssemblyInfoInputs.cache
sromc-api-main/obj/Debug/netcoreapp3.1/apphost.exe
sromc-api-main/bin/Debug/netcoreapp3.1/SROMCapi.pdb
sromc-api-main/bin/Debug/netcoreapp3.1/SROMCapi.exe
sromc-api-main/bin/Debug/netcoreapp3.1/SROMCapi.dll
